/* Colores */

:root {

	--fogra: #070707;
	--charcoal: #40434E;
	--timberwolf: #D3D0CB;
	--platinum: #E7E5DF;
	--keppel: #44BBA4;
}

body {
	font-family: 'Bitter', serif;
	color: var(--platinum);
	background-color: var(--fogra);
}

.qw-logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 90%;
	max-width: 250px;
	padding: 10px;
}

.qw-img {
	text-align: center;
	width: 95%;
}

main {
	padding-top: 30px;
	text-align: center;
	font-size: 4vh;
}

a {
	color: var(--keppel);
	
}

a:hover {
	color: var(--keppel);
}